<br>
<br>
<br>
<div class="text-center">
    <h2>Education</h2>
    <br>
    <div class="btn btn-success">
        Follow
    </div>
</div>
<hr>
<div class="container home_body">

        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="container">
                        <div class="posts">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="card-profile card-plain">
                                        <div class="">
                                                <a href="#avatar"><img src="../assets/img/faces/joe-gardner-2.jpg" class="img-circle img-small img-no-padding img-responsive" alt="..."></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="card-profile card-plain">
                                            <a class="question_title">Full meaning of GHM?</a>
                                            <p>@PeCrio</p>
                                            <p>#ChapelService  #Chaplaincy</p>
                                            <div class="row">
                                                
                                            </div>
                                    </div>
                                        
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-sm-2 ">
                                        <a href="#pablo" class=""><i class="fa fa-heart"></i></a> 3
                                    </div>
                                    <div class="col-sm-2 ">
                                        <a href="#pablo" class="l"><i class="fa fa-comments"></i></a> 11
                                    </div>
                                    <div class="col-sm-6">
                                        <div style="text-align:right;">
                                            <a href="#pablo" class="" ><i class="fa fa-bookmark"></i></a>
                                        </div>
                                    </div>
                            </div>
                     </div>

                     <div class="posts">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="card-profile card-plain">
                                        <div class="">
                                                <a href="#avatar"><img src="../assets/img/faces/joe-gardner-2.jpg" class="img-circle img-no-padding img-small img-responsive" alt="..."></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="card-profile card-plain">
                                            <a class="question_title">Full meaning of GHM?</a>
                                            <p>@PeCrio</p>
                                            <p>#ChapelService  #Chaplaincy</p>
                                            <div class="row"> 
                                                
                                            </div>
                                    </div>
                                        
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-sm-2 ">
                                            <a href="#pablo" class=""><i class="fa fa-heart"></i></a>
                                    </div>
                                    <div class="col-sm-2 ">
                                            <a href="#pablo" class=""><i class="fa fa-comments"></i></a>
                                    </div>
                                    <div class="col-sm-6">
                                        <div style="text-align:right;">
                                            <a href="#pablo" class="" ><i class="fa fa-bookmark"></i></a>
                                        </div>
                                    </div>
                            </div>
                     </div>

                     <div class="posts">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="card-profile card-plain">
                                        <div class="">
                                                <a href="#avatar"><img src="../assets/img/faces/joe-gardner-2.jpg" class="img-circle img-no-padding img-small img-responsive" alt="..."></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="card-profile card-plain">
                                            <a class="question_title">Full meaning of GHM?</a>
                                            <p>@PeCrio</p>
                                            <p>#ChapelService  #Chaplaincy</p>
                                            <div class="row">
                                                
                                            </div>
                                    </div>
                                        
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-sm-2 ">
                                            <a href="#pablo" class=""><i class="fa fa-heart"></i></a>
                                    </div>
                                    <div class="col-sm-2 ">
                                            <a href="#pablo" class="l"><i class="fa fa-comments"></i></a>
                                    </div>
                                    <div class="col-sm-6">
                                            <div style="text-align:right;">
                                                    <a href="#pablo" class="" ><i class="fa fa-bookmark"></i></a>
                                            </div>
                                    </div>
                            </div>
                     </div>

                     <div class="posts">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="card-profile card-plain">
                                        <div class="">
                                                <a href="#avatar"><img src="../assets/img/faces/joe-gardner-2.jpg" class="img-circle img-no-padding img-small img-responsive" alt="..."></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="card-profile card-plain">
                                            <a class="question_title">Full meaning of GHM?</a>
                                            <p>@PeCrio</p>
                                            <p>#ChapelService  #Chaplaincy</p>
                                            <div class="row">
                                                
                                            </div>
                                    </div>
                                        
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-sm-2 ">
                                            <a href="#pablo" class=""><i class="fa fa-heart"></i></a>
                                    </div>
                                    <div class="col-sm-2 ">
                                            <a href="#pablo" class="l"><i class="fa fa-comments"></i></a>
                                    </div>
                                    <div class="col-sm-6">
                                            <div style="text-align:right;">
                                                    <a href="#pablo" class="" ><i class="fa fa-bookmark"></i></a>
                                            </div>
                                    </div>
                            </div>
                     </div>

                     <div class="posts">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="card-profile card-plain">
                                        <div class="">
                                                <a href="#avatar"><img src="../assets/img/faces/joe-gardner-2.jpg" class="img-circle img-no-padding img-small img-responsive" alt="..."></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="card-profile card-plain">
                                            <a class="question_title">Full meaning of GHM?</a>
                                            <p>@PeCrio</p>
                                            <p>#ChapelService  #Chaplaincy</p>
                                            <div class="row">
                                                
                                            </div>
                                    </div>
                                        
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-sm-2 ">
                                            <a href="#pablo" class=""><i class="fa fa-heart"></i></a>
                                    </div>
                                    <div class="col-sm-2 ">
                                            <a href="#pablo" class="l"><i class="fa fa-comments"></i></a>
                                    </div>
                                    <div class="col-sm-6">
                                            <div style="text-align:right;">
                                                    <a href="#pablo" class="" ><i class="fa fa-bookmark"></i></a>
                                            </div>
                                    </div>
                            </div>
                     </div>
                </div>
                
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>



<!-- <app-navbar></app-navbar>
<br>
<router-outlet></router-outlet>

<app-footer *ngIf="removeFooter()"></app-footer>
 -->