<div class="container home_body">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="btn btn-success">
                            MY READING LIST (EMPTY)
                    </div>
                </div>
                <br>
                <br>
                <div class="posts">
                    <p class="p_home">TOPICS</p>
                    <ul class="links">
                        <a href=""><li>#Education <span class="topic_s"> <i class="fa fa-plus"></i></span></li></a>
                        <a href=""><li>#Education <span class="topic_s"><i class="fa fa-plus"></i></span></li></a>
                        <a href=""><li>#Education <span class="topic_s"><i class="fa fa-plus"></i></span></li></a>
                        <a href=""><li>#Education <span class="topic_s"><i class="fa fa-plus"></i></span></li></a>
                        <a href=""><li>#Education <span class="topic_s"><i class="fa fa-plus"></i></span></li></a>
                    </ul>
                </div>
                <br>
                <br>
                <div class="posts">
                    <div style="text-align:center;">
                        <p class="p_home">MORE LINKS</p>
                        <p><a href="#">LMU Portal </a> </p>
                        <p><a href="#">CSIS Portal </a></p>
                        <p><a href="#">Lime Social </a> </p>   
                        <p><a href="">LMU Website </a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="container">
                        <div class="posts">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="card-profile card-plain">
                                        <div class="">
                                                <a href="#avatar"><img src="../assets/img/faces/joe-gardner-2.jpg" class="img-circle img-small img-no-padding img-responsive" alt="..."></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="card-profile card-plain">
                                            <a class="question_title">Full meaning of GHM?</a>
                                            <p>@Onye</p>
                                            <p>#ChapelService  #Chaplaincy</p>
                                            <div class="row">
                                                
                                            </div>
                                    </div>
                                        
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-sm-2 ">
                                        <a href="#pablo" class=""><i class="fa fa-heart"></i></a> 3
                                    </div>
                                    <div class="col-sm-2 ">
                                        <a href="#pablo" class="l"><i class="fa fa-comments"></i></a> 11
                                    </div>
                                    <div class="col-sm-6">
                                        <div style="text-align:right;">
                                            <a href="#pablo" class="" ><i class="fa fa-bookmark"></i></a>
                                        </div>
                                    </div>
                            </div>
                     </div>

                     <div class="posts">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="card-profile card-plain">
                                        <div class="">
                                                <a href="#avatar"><img src="../assets/img/faces/joe-gardner-2.jpg" class="img-circle img-no-padding img-small img-responsive" alt="..."></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="card-profile card-plain">
                                            <a class="question_title">Full meaning of GHM?</a>
                                            <p>@TosinBot</p>
                                            <p>#ChapelService  #Chaplaincy</p>
                                            <div class="row"> 
                                                
                                            </div>
                                    </div>
                                        
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-sm-2 ">
                                            <a href="#pablo" class=""><i class="fa fa-heart"></i></a>
                                    </div>
                                    <div class="col-sm-2 ">
                                            <a href="#pablo" class=""><i class="fa fa-comments"></i></a>
                                    </div>
                                    <div class="col-sm-6">
                                        <div style="text-align:right;">
                                            <a href="#pablo" class="" ><i class="fa fa-bookmark"></i></a>
                                        </div>
                                    </div>
                            </div>
                     </div>

                     <div class="posts">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="card-profile card-plain">
                                        <div class="">
                                                <a href="#avatar"><img src="../assets/img/faces/joe-gardner-2.jpg" class="img-circle img-no-padding img-small img-responsive" alt="..."></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="card-profile card-plain">
                                            <a class="question_title">Full meaning of GHM?</a>
                                            <p>@PeCrio</p>
                                            <p>#ChapelService  #Chaplaincy</p>
                                            <div class="row">
                                                
                                            </div>
                                    </div>
                                        
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-sm-2 ">
                                            <a href="#pablo" class=""><i class="fa fa-heart"></i></a>
                                    </div>
                                    <div class="col-sm-2 ">
                                            <a href="#pablo" class="l"><i class="fa fa-comments"></i></a>
                                    </div>
                                    <div class="col-sm-6">
                                            <div style="text-align:right;">
                                                    <a href="#pablo" class="" ><i class="fa fa-bookmark"></i></a>
                                            </div>
                                    </div>
                            </div>
                     </div>

                     <div class="posts">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="card-profile card-plain">
                                        <div class="">
                                                <a href="#avatar"><img src="../assets/img/faces/joe-gardner-2.jpg" class="img-circle img-no-padding img-small img-responsive" alt="..."></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="card-profile card-plain">
                                            <a class="question_title">Full meaning of GHM?</a>
                                            <p>@Yemo</p>
                                            <p>#ChapelService  #Chaplaincy</p>
                                            <div class="row">
                                                
                                            </div>
                                    </div>
                                        
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-sm-2 ">
                                            <a href="#pablo" class=""><i class="fa fa-heart"></i></a>
                                    </div>
                                    <div class="col-sm-2 ">
                                            <a href="#pablo" class="l"><i class="fa fa-comments"></i></a>
                                    </div>
                                    <div class="col-sm-6">
                                            <div style="text-align:right;">
                                                    <a href="#pablo" class="" ><i class="fa fa-bookmark"></i></a>
                                            </div>
                                    </div>
                            </div>
                     </div>

                     <div class="posts">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="card-profile card-plain">
                                        <div class="">
                                                <a href="#avatar"><img src="../assets/img/faces/joe-gardner-2.jpg" class="img-circle img-no-padding img-small img-responsive" alt="..."></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="card-profile card-plain">
                                            <a class="question_title">Full meaning of GHM?</a>
                                            <p>@Nanle</p>
                                            <p>#ChapelService  #Chaplaincy</p>
                                            <div class="row">
                                                
                                            </div>
                                    </div>
                                        
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-sm-2 ">
                                            <a href="#pablo" class=""><i class="fa fa-heart"></i></a>
                                    </div>
                                    <div class="col-sm-2 ">
                                            <a href="#pablo" class="l"><i class="fa fa-comments"></i></a>
                                    </div>
                                    <div class="col-sm-6">
                                            <div style="text-align:right;">
                                                    <a href="#pablo" class="" ><i class="fa fa-bookmark"></i></a>
                                            </div>
                                    </div>
                            </div>
                     </div>
                </div>
                
            </div>
            <div class="col-md-3">
                <div class="row posts">
                        <div class="col-md-3">
                                <div class="card-profile card-plain">
                                    <div class="">
                                            <a href="#avatar"><img src="../assets/img/faces/joe-gardner-2.jpg" class="img-thumbnail img-responsive" alt="..."></a>
                                    </div>
                                </div>
                        </div>
                        <div class="col-md-9">
                            <p>Nanle Paul</p>
                            <p>@nanle / Computer Science</p>
                        </div>
                </div>
                <div class="row posts">
                        <p style="text-align:center;">DISCUSSIONS</p>

                        <p class="card-description text-center">
                            A group becomes a team when each member is sure enough?
                        </p>
                        <br>
                        <p class="card-description text-center">
                                A group becomes a team when each member is sure enough?
                        </p>
                        <br>
                        <p class="card-description text-center">
                                A group becomes a team when each member is sure enough?
                        </p>
                        <br>    
                    </div>
            </div>
        </div>
    </div>