.home_body{
    margin-top: 15ch;
}

.p_home{
   text-decoration: underline;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   padding: 1ch;
    
}

.topic_s{
    padding-left: 10ch;
}

.question_title{
    font-size: 3ch;
    
}

.test{
    width: 1px;
    height: 1px;
}
.posts{
    background-color: #ffff;
    border-radius: 2px;
    box-shadow: 0 1px 2px #c9cccd;
    margin-bottom: 20px;
    padding: 10px;
}
.img-small {
  width: 100px
}